@model IEnumerable<WebBanGiayMVC.Models.CauHinh>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
    var tieuDe = ViewBag.TieuDe as string;
    var anh = ViewBag.Anh as string;
    var moTa = ViewBag.MoTa as string;
}

    <div class="colorlib-loader"></div>

    <div id="page">
        

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="bread"><span><a href="index.html">Home</a></span> / <span>About</span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="colorlib-about">
            
            <div class="container">
                <div class="row row-pb-lg">
                    <div class="col-sm-6 mb-3">
                        <div class="video colorlib-video" style="@anh">
                            <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play3"></i></a>
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-wrap">
                            <h2>@tieuDe</h2>
                            <p>@moTa</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
    </div>

