@model List<WebBanGiayMVC.Service.ThongSoSanPham.ViewModel.ThongSoSanPhamViewModel>
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
}


<div class="colorlib-loader"></div>

<div id="page">


    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="bread"><span><a href="index.html">Home</a></span> / <span>Checkout</span></p>
                </div>
            </div>
        </div>
    </div>


    <div class="colorlib-product">
        <div class="container">
            <div class="row row-pb-lg">
                <div class="col-sm-10 offset-md-1">
                    <div class="process-wrap">
                        <div class="process text-center active">
                            <p><span>01</span></p>
                            <h3>Shopping Cart</h3>
                        </div>
                        <div class="process text-center active">
                            <p><span>02</span></p>
                            <h3>Checkout</h3>
                        </div>
                        <div class="process text-center">
                            <p><span>03</span></p>
                            <h3>Order Complete</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <form method="post"
                          action="https://script.google.com/macros/s/AKfycbw_7hN-43fbRvu46RArLnKul2DmtAg1wynHCkGk7CufPh6RZbnoglqAd0CSz6zscCkB/exec"
                          class="colorlib-form">
                        <h2>Billing Details</h2>
                        <div class="row">


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fname">Họ Tên</label>
                                    <input type="text" name="HoTen" id="fname" class="form-control" placeholder="Your Name" required>
                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fname">Địa Chỉ</label>
                                    <input type="text" name="DiaChi" id="address" class="form-control" placeholder="Điền địa chỉ của bạn" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="stateprovince">Tỉnh/Thành Phố</label>
                                    <input type="text" name="TinhThanhPho" id="tinhTP" class="form-control" placeholder="Tỉnh hoặc Thành Phố" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lname">Ngày Đặt Hàng</label>
                                    <input type="text" name="Date" id="date" class="form-control" placeholder="Ngày đặt hàng" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Địa chỉ Email</label>
                                    <input type="email" name="Email" id="email" class="form-control" placeholder="Điền Email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Phone">Số Điện Thoại Liên Lạc</label>
                                    <input type="text" name="SoDienThoai" id="sdt" class="form-control" placeholder="Điền số điện thoại của bạn" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary" id="btnOrderComplete" >Place an order </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-detail">
                                <h2>Cart Total</h2>
                                <ul>
                                    <li>
                                        <span>Subtotal</span> <span>$100.00</span>
                                        <ul>
                                            <li><span>1 x Product Name</span> <span>$99.00</span></li>
                                            <li><span>1 x Product Name</span> <span>$78.00</span></li>
                                        </ul>
                                    </li>
                                    <li><span>Shipping</span> <span>$0.00</span></li>
                                    <li><span>Order Total</span> <span>$180.00</span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-12">
                            <div class="cart-detail">
                                <h2>Payment Method</h2>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio"> Direct Bank Tranfer</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio"> Check Payment</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio"> Paypal</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value=""> I have read and accept the terms and conditions</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>

@section Scripts{
    <script>

        var R = {
            Init: function () {
                R.RegisterEvent();
            },
            RegisterEvent: function () {
                //if (fname || address || tinhTP || date || email || sdt != null) {
                //    alert("Please enter a value");
                //} else {
                //    $('#btnOrderComplete').off('click').on('click', function () {
                //        window.location.href = "/GioHang/Order_Complete";
                //    });
                //}
                $('#btnOrderComplete').off('click').on('click', function () {
                    window.location.href = "/GioHang/Order_Complete";
                });

            }



        }
        R.Init();

    </script>
}
